rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    
    match /platform/{docId} {
      allow read, write: if true;
    }
    match /statistics/{statsId} {
      allow read, write: if true;
    }
    match /server_status/{statusId} {
      allow read, write: if true;
    }
    match /vps_nodes/{nodeId} {
      allow read, write: if true;
    }
    match /vps_commands/{commandId} {
      allow read, write: if true;
    }

    function isSignedIn() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    function isAdmin() {
      return isSignedIn() && (request.auth.token.email == 'agustiantomi80@gmail.com' || request.auth.token.email == 'premdigitalssh@gmail.com');
    }

    match /users/{userId} {
      allow read: if isOwner(userId) || isAdmin();
      allow write: if isOwner(userId) || isAdmin();
      
      match /topups/{topupId} {
        allow read, write: if isOwner(userId) || isAdmin();
      }
      match /accounts/{accountId} {
        allow read, write: if isOwner(userId) || isAdmin();
      }
    }
  }
}
